<div class="container">

  <br>
  <br>
  <div class="card" >
    <img src={{joueur.image}} style="width: 100%; height: 500px; "class="card-img-top" alt="..." srcset="">
    <div class="card-body">
      <h5 class="card-title">{{joueur.nom}} {{joueur.prenom}}</h5>
      <p class="card-text">  Age :  {{joueur.age}} <br>  Poste : {{joueur.poste}} <br> num_maillot : {{joueur.num_maillot}} <br>
      Nombre de matchs joués: {{joueur.nb_match}} <br> Nombre de buts marqués : {{joueur.nb_but_marque}} <br>
      Nombre de passes decisives : {{joueur.nb_passe_dec}} <br> Nombre de buts concedeés : {{joueur.nb_but_concede}} <br>
       Email : {{joueur.email}}

     </p>

    </div>
  </div>
  </div>
